.tag {
  display: inline-block;
  color: #5d5c5c;
  font-size: 20px;
  min-width: 60px;
  border: 2px solid #f4f5f8;
  border-radius: 10px;
  margin: 8px 5px;
  height: 30px;
  text-align: center;
  padding: 0 25px;
  line-height: 30px;
}

.tag:hover {
  cursor: pointer;
  filter: brightness(92%);
}

.product-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 30px;
}
